.header-left {
  display: flex;
  align-items: center;
  justify-content: center;

  .anticon-bars {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    &:hover {
      background-color: #eee;
    }
  }
}

.header-right-icon {
  cursor: pointer;
}

.title {
  margin: 20px 0;
}