.ant-layout {
  width: calc(100% - 256px);
  height: 100%;
  display: flex;
}

.layouts-page {
  width: 100%;
  height: 100%;

  .layout-sidebar {
    display: flex;
    height: 100%;

    .ant-menu {
      height: 100%;
    }
  }
}

:where(.css-dev-only-do-not-override-htwhyh).ant-layout-header {
  background-color: #fff;
  padding-inline: 20px;
  display: flex;
  align-items: center;
}

.ant-layout-content {
  width: 100%;
  // height: calc(100% - 64px);
  // flex: none;
}